* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url(https://images.alphacoders.com/691/691452.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: transparent;
    backdrop-filter: blur(30px);
    border: 2px solid #c2c2c2;
    padding: 20px 30px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #0004e6;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border 0.3s;
}

input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    margin-bottom: 10px;
    background-color: #f9fafb;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: background-color 0.3s;
}

li.completed {
    text-decoration: line-through;
    color: #777;
    background-color: #e9ecef;
}

li span {
    font-size: 16px;
    cursor: pointer;
    flex: 1;
}

li span:hover {
    color: #007bff;
}

li button {
    padding: 8px;
    color: #fff;
    background-color: #e74c3c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 30%;
}

li button:hover {
    background-color: #c0392b;
}
li button.edit {
    padding: 8px;
    color: #fff;
    background-color: #32b917;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 8px;
}

li button.edit:hover {
    background-color: #e0a800;
}
